<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589255927955-5re7n52ces5birg23chtbojji1pjbtf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589255927955-5re7n52ces5birg23chtbojji1pjbtf7</string>
	<key>API_KEY</key>
	<string>AIzaSyDmz3dT-Iou66iet3xoKMNQ8VfBRsvKDZo</string>
	<key>GCM_SENDER_ID</key>
	<string>589255927955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blockPattern</string>
	<key>PROJECT_ID</key>
	<string>blocauth-3dc8c</string>
	<key>STORAGE_BUCKET</key>
	<string>blocauth-3dc8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589255927955:ios:546775c52ad33ed8b8c566</string>
</dict>
</plist>